:root {
  --wn_pb_primary_color: #E9954A;
  --wn_pb_bold_t_color: #5E5E5E;
  --wn_pb_regular_t_color: #929292;
  --wn_pb_primary_gradient_1: #f78d31;
  --wn_pb_primary_gradient_2: #f89d37;
  /*Transitions***/
  --wn_pb_04s_ease: 0.4s ease;
}

.wn_pb_wrapper h1,
.wn_pb_wrapper h2,
.wn_pb_wrapper h3,
.wn_pb_wrapper h4,
.wn_pb_wrapper h5,
.wn_pb_wrapper h6,
.wn_pb_wrapper p {
  all: unset;
  display: block;
}

.wn_pb_wrapper span {
  all: unset;
  display: inline;
}

.wn_pb_wrapper,
.wn_pb_wrapper * {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: sans-serif;
  line-height: 1em;
}

.wn_pb_wrapper [widget-type] {
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.wn_pb_wrapper {
  position: relative;
  overflow-y: scroll;
  background-color: rgba(255, 255, 255, 0.397);
}

.wn_pb_wrapper .wn_pb_container {
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  position: relative;
}

.wn_pb_wrapper .wn_pb_container > section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100vh;
  color: var(--wn_pb_bold_t_color);
  padding-top: 60px;
  padding-bottom: 90px;
  padding-left: 20px;
  padding-right: 20px;
}

.wn_pb_wrapper .wn_pb_set_inner_scroll > .wn_pb_section_content,
.wn_pb_wrapper .wn_pb_set_inner_scroll > .wn_pb_section_content > div,
.wn_pb_wrapper .wn_pb_set_inner_scroll > .wn_pb_section_content > div > .wn_pb_resume_wrapper {
  height: 100%;
}

.wn_pb_wrapper .wn_pb_set_inner_scroll > .wn_pb_section_content > div > .wn_pb_resume_wrapper {
  overflow-y: scroll;
}

.wn_pb_wrapper .wn_pb_section_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  width: 100%;
  max-height: 100%;
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
}

.wn_pb_wrapper .wn_pb_sticky_header {
  width: 100%;
  position: absolute;
  border-bottom: 1px solid #c2c2c2;
  top: 0;
  background-color: white;
  z-index: 10;
}

.wn_pb_wrapper .wn_pb_header_content {
  height: 60px;
  width: 100%;
  max-width: 1140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  -webkit-transition: var(--wn_pb_04s_ease);
  transition: var(--wn_pb_04s_ease);
}

.wn_pb_wrapper .wn_pb_logo {
  height: 100%;
}

.wn_pb_wrapper .wn_pb_logo img {
  height: 60px;
  width: auto;
  -o-object-fit: cover;
  object-fit: cover;
  padding: 7px 0px;
}

.wn_pb_wrapper .wn_pb_reset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
}

.wn_pb_wrapper .wn_pb_reset span {
  font-size: 14px;
  color: var(--wn_pb_regular_t_color);
}

.wn_pb_wrapper .wn_pb_reset_icon {
  display: block;
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0px 10px;
  fill: var(--wn_pb_regular_t_color);
}

.wn_pb_wrapper .wn_pb_main_columns {
  padding-top: 60px;
  padding-bottom: 60px;
  -webkit-transition: var(--wn_pb_04s_ease);
  transition: var(--wn_pb_04s_ease);
}

.wn_pb_wrapper .wn_pb_main_columns:nth-child(1) {
  width: 20%;
  padding-right: 60px;
}

.wn_pb_wrapper .wn_pb_main_columns:nth-child(2) {
  padding-right: 60px;
  padding-left: 60px;
}

.wn_pb_wrapper .wn_pb_main_columns:nth-child(3) {
  padding-left: 60px;
}

.wn_pb_wrapper .wn_pb_section_index .wn_pb_index__active {
  position: relative;
}

.wn_pb_wrapper .wn_pb_section_index .wn_pb_index__active::before {
  content: "";
  position: absolute;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="rgba(233, 149, 74, 1)" width="100%" height="100%" viewBox="0 0 24 24"><path d="M13.025 1l-2.847 2.828 6.176 6.176h-16.354v3.992h16.354l-6.176 6.176 2.847 2.828 10.975-11z"/></svg>');
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  top: 50%;
  right: calc(100% + 10px);
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.wn_pb_wrapper .wn_pb_section_index {
  position: absolute;
  width: calc( 1140px * 0.2);
  left: calc(((100% - 1140px) / 2) + 30px);
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 2;
  -webkit-transition: .8s ease;
  transition: .8s ease;
}

.wn_pb_wrapper .wn_pb_section_index > ul {
  list-style-type: none;
}

.wn_pb_wrapper .wn_pb_section_index > ul > li:not(:first-child):not(:last-child) {
  margin: 15px 0px;
}

.wn_pb_wrapper .wn_pb_section_index > ul > li:hover a {
  color: var(--wn_pb_bold_t_color) !important;
  font-weight: 600 !important;
}

.wn_pb_wrapper .wn_pb_section_index > ul > li a {
  color: var(--wn_pb_regular_t_color);
  font-size: 14px;
  line-height: 14px;
  display: block;
  font-weight: 400;
  text-decoration: none;
}

.wn_pb_wrapper .wn_pb_section_index > ul > li a i {
  display: none;
}

.wn_pb_wrapper .wn_pb_section_index .wn_pb_index__active a {
  color: var(--wn_pb_bold_t_color) !important;
  font-weight: 600 !important;
}

.wn_pb_wrapper .wn_pb_media_wrapper {
  width: 50%;
  max-width: 100%;
}

.wn_pb_wrapper .wn_pb_media_wrapper img,
.wn_pb_wrapper .wn_pb_media_wrapper .wn_pb_video_content > img {
  width: 100%;
  height: 100%;
  display: block;
  -o-object-fit: cover;
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}

.wn_pb_wrapper .wn_pb_img_mx_width {
  max-width: 230px;
}

.wn_pb_wrapper .wn_pb_options {
  width: 30%;
  max-width: 100%;
}

.wn_pb_wrapper .wn_pb_options h2 {
  font-size: 22px;
  margin-bottom: 40px;
  line-height: 1em;
}

.wn_pb_wrapper .wn_pb_selectors_wrapper {
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.wn_pb_wrapper .wn_pb_selector_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  position: relative;
  min-width: 90px;
  height: 50px;
  padding-top: 15px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 5px;
  border: 1px solid #E8E8E8;
  border-radius: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  cursor: pointer;
  background-color: #fff;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.wn_pb_wrapper .wn_pb_selector_button:hover {
  background-color: #fff;
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.103);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.103);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.wn_pb_wrapper .wn_pb_selector_button:focus {
  background-color: #fff;
}

.wn_pb_wrapper .wn_pb_selector_button__active {
  border: 1px solid var(--wn_pb_primary_color);
}

.wn_pb_wrapper .wn_pb_selector_button__active .wn_pb_selector_price {
  opacity: 1;
}

.wn_pb_wrapper .wn_pb_selector_value {
  text-align: left;
  font-weight: 600;
  color: var(--wn_pb_bold_t_color);
}

.wn_pb_wrapper .wn_pb_selector_price {
  position: absolute;
  top: 5px;
  right: 10px;
  opacity: 0;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.wn_pb_wrapper .wn_pb_selector_price span {
  display: block;
  font-size: 10px;
  font-weight: 500;
  color: var(--wn_pb_regular_t_color);
}

.wn_pb_wrapper .wn_pb_selector_price span::before {
  content: "+$";
}

.wn_pb_wrapper .wn_pb_selector_name {
  text-align: left;
  font-size: 10px;
  font-weight: 600;
  color: var(--wn_pb_bold_t_color);
}

.wn_pb_wrapper .wm_pb_options_description {
  font-size: 14px;
  font-weight: 400;
  color: var(--wn_pb_regular_t_color);
  margin-bottom: 40px;
  line-height: 21px;
}

.wn_pb_wrapper .wn_pb_sticky_footer {
  width: 100%;
  background-color: #F7F8FB;
  border-top: 1px solid #D5D5D5;
  position: absolute;
  bottom: 0;
  z-index: 2;
}

.wn_pb_wrapper .wn_pb_footer_content {
  width: 100%;
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: var(--wn_pb_04s_ease);
  transition: var(--wn_pb_04s_ease);
}

.wn_pb_wrapper .wn_pb_help_button {
  background-color: #FCFDFE;
  border: 1px solid #DBDBDC;
  border-radius: 5px;
  padding: 15px 35px;
  color: var(--wn_pb_regular_t_color);
  font-size: 14px;
  font-weight: 400;
}

.wn_pb_wrapper .wn_pb_total_cost_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.wn_pb_wrapper .wn_pb_total_cost_wrapper > span:first-child {
  display: block;
  font-size: 14px;
  color: var(--wn_pb_regular_t_color);
  font-weight: 400;
  margin-right: 25px;
}

.wn_pb_wrapper .wn_pb_total_cost_calc {
  position: relative;
  display: block;
  color: var(--wn_pb_bold_t_color);
  font-size: 18px;
  font-weight: 700;
}

.wn_pb_wrapper .wn_pb_total_cost_calc::before {
  content: "$";
  position: absolute;
  top: 50%;
  right: 100%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

/********************************* First Content Paint *********************************/
.wn_pb_wrapper .wn_pb_resume_wrapper {
  background-color: #F7F8FB;
  border-radius: 10px;
  padding: 40px;
  overflow: scroll;
}

.wn_pb_wrapper .wn_selected_option {
  position: relative;
  background-color: transparent;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.wn_pb_wrapper .wn_selected_option:not(:last-child) {
  margin-bottom: 30px;
}

.wn_pb_wrapper .wn_selected_option:not(:last-child)::before {
  content: "";
  position: absolute;
  width: calc(100% + 40px);
  height: 1px;
  border-bottom: 1px solid #EEEEEE;
  left: 50%;
  bottom: -20px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.wn_pb_wrapper .wn_pb_selected_option_row_one,
.wn_pb_wrapper .wn_pb_selected_option_row_two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 2px 0px;
}

.wn_pb_wrapper .wn_pb_selected_option_title,
.wn_pb_wrapper .wn_pb_selected_option_total_price {
  font-size: 14px;
  font-weight: 700;
  color: var(--wn_pb_bold_t_color);
}

.wn_pb_wrapper .wn_pb_selected_option_selection {
  font-size: 10px;
  font-weight: 400;
  color: var(--wn_pb_regular_t_color);
}

.wn_pb_wrapper .wn_pb_selected_option_edit {
  font-size: 10px !important;
  font-weight: 400 !important;
  color: var(--wn_pb_regular_t_color) !important;
  text-decoration: none !important;
}

.wn_pb_wrapper .wn_selected_total {
  margin-top: 100px;
}

.wn_pb_wrapper .wn_selected_total .wn_pb_selected_option_total_price {
  font-size: 16px;
}

.wn_pb_wrapper .wn_pb_contanct_form_wrapper {
  padding-bottom: 40px;
}

.wn_pb_wrapper .wn_pb_contanct_form_wrapper > .wpcf7 form > p {
  margin: 10px 0px;
  width: calc(50% - 5px);
  display: inline-block;
  margin-bottom: 0px;
}

.wn_pb_wrapper .wn_pb_contanct_form_wrapper > .wpcf7 form > p:nth-child(even) {
  margin-right: 5px;
}

.wn_pb_wrapper .wn_pb_contanct_form_wrapper .wn_pb_e_form_flex_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-top: 10px;
}

.wn_pb_wrapper .wn_pb_contanct_form_wrapper .wn_pb_e_form_flex_container p {
  font-size: 14px;
  color: #929292;
  font-weight: 500;
}

.wn_pb_wrapper .wn_pb_contanct_form_wrapper .wn_pb_e_form_flex_container p select {
  margin-top: 5px;
  font-size: 14px;
  font-weight: 400;
  color: var(--wn_pb_regular_t_color);
  height: 32px;
  border: 1px solid #E8E8E8;
  border-radius: 5px;
  padding-left: 5px;
  background-color: transparent;
}

.wn_pb_wrapper .wn_pb_contanct_form_wrapper input:not([type="file"]) {
  font-size: 14px;
  font-weight: 500;
  color: var(--wn_pb_bold_t_color);
  height: 32px;
  border: 1px solid #E8E8E8;
  border-radius: 5px;
  padding-left: 15px;
  width: 100%;
}

.wn_pb_wrapper .wn_pb_contanct_form_wrapper input[type="file"] {
  width: 176px;
  font-size: 14px;
  font-weight: 500;
  color: #959595;
}

.wn_pb_wrapper .wn_pb_contanct_form_wrapper .wn_pb_e_custom_file_input {
  margin-top: 5px;
  position: relative;
  height: auto;
}

.wn_pb_wrapper .wn_pb_contanct_form_wrapper .wn_pb_e_custom_file_input input {
  opacity: 0;
  height: 32px;
  width: 93px !important;
}

.wn_pb_wrapper .wn_pb_contanct_form_wrapper .wn_pb_e_custom_file_input .wpcf7-form-control-wrap {
  display: block;
}

.wn_pb_wrapper .wn_pb_contanct_form_wrapper .wn_pb_e_custom_file_input::before {
  content: "Choose file";
  font-size: 14px;
  line-height: 32px;
  padding: 0px 10px;
  height: 32px;
  font-weight: 500;
  color: #959595;
  position: absolute;
  top: 0px;
  left: 0;
  display: block;
  background-color: #fff;
  border: 1px solid #E8E8E8;
  border-radius: 5px;
  pointer-events: none;
  cursor: pointer;
}

.wn_pb_wrapper .wn_pb_contanct_form_wrapper .wn_pb_e_filename {
  margin-top: 2px;
  display: block;
  font-size: 14px;
  color: #929292;
}

.wn_pb_wrapper .wn_pb_contanct_form_wrapper .wn_pb_e_form_block_container {
  margin-top: 10px;
  display: block;
  width: 100%;
}

.wn_pb_wrapper .wn_pb_contanct_form_wrapper .wn_pb_e_form_block_container p {
  font-size: 14px;
  color: #929292;
  font-weight: 500;
}

.wn_pb_wrapper .wn_pb_contanct_form_wrapper .wn_pb_e_form_block_container textarea {
  padding: 5px;
  margin-top: 5px;
  min-height: 30px;
  width: 100%;
  height: 90px;
  font-size: 14px;
  font-weight: 500;
  color: var(--wn_pb_bold_t_color);
  border: 1px solid #E8E8E8;
  border-radius: 5px;
}

.wn_pb_wrapper .wn_pb_contanct_form_wrapper .wn_pb_e_form_flex_container .wn_pb_e_form_block_container {
  width: calc(50% - 5px);
}

.wn_pb_wrapper .wn_pb_contanct_form_wrapper input:not([type="submit"]):focus-visible {
  outline: none;
  border: 1px solid var(--wn_pb_regular_t_color);
}

.wn_pb_wrapper .wn_pb_contanct_form_wrapper input::-webkit-input-placeholder {
  font-size: 14px;
  font-weight: 400;
  color: var(--wn_pb_regular_t_color);
  opacity: 1;
}

.wn_pb_wrapper .wn_pb_contanct_form_wrapper input:-ms-input-placeholder {
  font-size: 14px;
  font-weight: 400;
  color: var(--wn_pb_regular_t_color);
  opacity: 1;
}

.wn_pb_wrapper .wn_pb_contanct_form_wrapper input::-ms-input-placeholder {
  font-size: 14px;
  font-weight: 400;
  color: var(--wn_pb_regular_t_color);
  opacity: 1;
}

.wn_pb_wrapper .wn_pb_contanct_form_wrapper input::placeholder {
  font-size: 14px;
  font-weight: 400;
  color: var(--wn_pb_regular_t_color);
  opacity: 1;
}

.wn_pb_wrapper .wn_pb_contanct_form_wrapper input[type="submit"] {
  margin-top: 10px;
  background-color: var(--wn_pb_primary_color);
  background-image: -webkit-gradient(linear, left top, right top, from(var(--wn_pb_primary_gradient_1)), to(var(--wn_pb_primary_gradient_2)));
  background-image: linear-gradient(to right, var(--wn_pb_primary_gradient_1), var(--wn_pb_primary_gradient_2));
  border: none;
  min-width: 140px;
  width: 70%;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.219);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.219);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.wn_pb_wrapper .wn_pb_contanct_form_wrapper input[type="submit"]:hover {
  -webkit-transform: scale(1.03);
  transform: scale(1.03);
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
}

@media (max-width: 600px) {
  .wn_pb_wrapper .wn_pb_contanct_form_wrapper input[type="submit"] {
    width: 100%;
  }
  .wn_pb_wrapper .wn_pb_contanct_form_wrapper > .wpcf7 form > p:nth-child(2) {
    width: 100%;
    display: block;
  }
  .wn_pb_wrapper .wn_pb_contanct_form_wrapper > .wpcf7 form > p:nth-child(3) {
    width: 100%;
    display: block;
  }
}

.wn_pb_wrapper .wn_pb_e_next_section_btn {
  background-color: var(--wn_pb_primary_color);
  background-image: -webkit-gradient(linear, left top, right top, from(var(--wn_pb_primary_gradient_1)), to(var(--wn_pb_primary_gradient_2)));
  background-image: linear-gradient(to right, var(--wn_pb_primary_gradient_1), var(--wn_pb_primary_gradient_2));
  border: none;
  height: 32px;
  color: #fff;
  width: 100%;
  font-size: 14px;
  font-weight: 600;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.wn_pb_wrapper .wn_pb_e_next_section_btn:hover {
  -webkit-transform: scale(1.03);
  transform: scale(1.03);
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
}

.wn_pb_wrapper .wn_pb_input_inline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.wn_pb_wrapper .wn_index_reference {
  height: 20px;
}

/* The Modal (background) */
.wn_pb_wrapper .modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 15;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
  text-align: center;
}

/* Modal Content */
.wn_pb_wrapper .wn_pb_modal_content {
  display: inline-block;
  position: relative;
  background-color: transparent;
  margin: auto;
  padding: 0;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

/* The Close Button */
.wn_pb_wrapper .close {
  color: #fff;
  position: absolute;
  right: 30px;
  top: 15px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  cursor: pointer;
  width: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 30px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.wn_pb_wrapper .close > i {
  fill: #fff;
  margin-left: 0px;
  margin-right: 0px;
}

.wn_pb_wrapper .close:hover,
.wn_pb_wrapper .close:focus {
  text-decoration: none;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.wn_pb_wrapper .modal-header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

.wn_pb_wrapper .modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

.wn_pb_wrapper .wn_pb_video_content {
  position: relative;
  width: 100%;
  padding-bottom: 30px;
}

.wn_pb_wrapper .wn_pb_modal_content_to_send {
  display: none;
}

.wn_pb_wrapper .wn_pb_send_to_modal_video_media {
  position: absolute;
  bottom: 5px;
  left: 0px;
}

.wn_pb_wrapper .wn_pb_send_trigger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
}

.wn_pb_wrapper .wn_pb_send_trigger:hover > span {
  text-decoration: underline;
}

.wn_pb_wrapper .wn_pb_send_trigger > i {
  margin-right: 10px;
}

.wn_pb_wrapper .wn_pb_send_trigger > img {
  margin-right: 10px;
}

.wn_pb_wrapper .wn_pb_send_to_modal_video_media .wn_pb_send_trigger > span {
  font-size: 14px;
  font-weight: 500;
  color: var(--wn_pb_primary_color);
  margin-top: 2px;
}

.wn_pb_wrapper .wn_pb_video_element {
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  height: auto;
  border-radius: 15px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.wn_pb_wrapper .wn_pb_extra_info_card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 70vh;
  max-width: 1200px;
  border: 1px solid #888;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: white;
  border-radius: 15px;
  overflow: hidden;
}

.wn_pb_wrapper .wn_pb_extra_info_bck_img {
  width: 55%;
  -webkit-transition: var(--wn_pb_04s_ease);
  transition: var(--wn_pb_04s_ease);
}

.wn_pb_wrapper .wn_pb_extra_content {
  width: 45%;
  padding: 60px 40px;
  text-align: left;
  -webkit-transition: var(--wn_pb_04s_ease);
  transition: var(--wn_pb_04s_ease);
  overflow-y: auto;
}

.wn_pb_wrapper .wn_pb_extra_content > h3 {
  color: var(--wn_pb_bold_t_color);
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 40px;
  line-height: 1.1em;
}

.wn_pb_wrapper .wn_pb_extra_content > p {
  color: var(--wn_pb_regular_t_color);
  line-height: 27px;
}

.wn_pb_wrapper .wn_pb_extra_content .wn_pb_extra_content_text {
  color: var(--wn_pb_regular_t_color);
  line-height: 27px;
}

.wn_pb_wrapper .wn_pb_extra_info_bck_img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.wn_pb_wrapper .wn_pb_link_text {
  color: var(--wn_pb_primary_color);
  font-size: 14px;
  font-weight: 500;
}

.wn_pb_wrapper .wn_pb_index_icon {
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background-color: var(--wn_pb_bold_t_color);
}

.wn_pb_wrapper .wn_pb_schedule_redirect {
  display: none;
  margin-top: 5px;
  background-color: var(--wn_pb_primary_color);
  background-image: -webkit-gradient(linear, left top, right top, from(var(--wn_pb_primary_gradient_1)), to(var(--wn_pb_primary_gradient_2)));
  background-image: linear-gradient(to right, var(--wn_pb_primary_gradient_1), var(--wn_pb_primary_gradient_2));
  border: none;
  border-radius: 5px;
  min-width: 140px;
  width: 100%;
  height: 40px;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.219);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.219);
  margin-left: auto;
  margin-right: auto;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.wn_pb_wrapper .wn_pb_container > .wn_pb_resume_section--extension {
  display: none;
}

.wn_pb_wrapper .wn_pb_index_resume_ext {
  display: none;
}

.wn_pb_wrapper .wn_pb_resume_total_row_title,
.wn_pb_wrapper .wn_pb_resume_total_row_price {
  font-size: 18px;
}

.wn_pb_wrapper .wn_pb_video_element_iframe {
  width: calc(100vw - 50px);
  height: 50vh;
}

.wn_pb_wrapper .wn_pb_e_dropdown_content_wrapper {
  width: 100%;
}

.wn_pb_wrapper .wn_pb_e_dropdown_content {
  margin-top: 10px;
  height: 32px;
  border: 1px solid #E8E8E8;
  background-color: transparent;
  border-radius: 5px;
  padding: 0px 14px;
  color: var(--wn_pb_regular_t_color);
  font-size: 14px;
  line-height: 14px;
  display: block;
  font-weight: 400;
}

.wn_pb_wrapper .wn_pb_e_dropdown_label {
  font-size: 14px;
  font-weight: 500;
}

@media (max-width: 1140px) {
  .wn_pb_wrapper .wn_pb_section_index {
    width: calc(20% - 30px);
    /* 30px of with of the arrow */
    left: 50px;
    /* 30px of with of the arrow plus 20px of left padding */
  }
  .wn_pb_wrapper .wn_pb_section_content > .wn_pb_main_columns:nth-child(1) {
    padding-right: 0px;
    -webkit-transition: var(--wn_pb_04s_ease);
    transition: var(--wn_pb_04s_ease);
  }
  .wn_pb_wrapper .wn_pb_section_content > .wn_pb_main_columns:nth-child(2) {
    padding-left: 20px;
    padding-right: 20px;
    -webkit-transition: var(--wn_pb_04s_ease);
    transition: var(--wn_pb_04s_ease);
  }
  .wn_pb_wrapper .wn_pb_section_content > .wn_pb_main_columns:nth-child(3) {
    padding-left: 0px;
    -webkit-transition: var(--wn_pb_04s_ease);
    transition: var(--wn_pb_04s_ease);
  }
  .wn_pb_wrapper .wn_pb_header_content {
    padding: 0px 20px;
    -webkit-transition: var(--wn_pb_04s_ease);
    transition: var(--wn_pb_04s_ease);
  }
  .wn_pb_wrapper .wn_pb_footer_content {
    padding: 0px 20px;
    -webkit-transition: var(--wn_pb_04s_ease);
    transition: var(--wn_pb_04s_ease);
  }
  .wn_pb_wrapper .wn_pb_extra_info_bck_img {
    width: 40%;
    -webkit-transition: var(--wn_pb_04s_ease);
    transition: var(--wn_pb_04s_ease);
  }
  .wn_pb_wrapper .wn_pb_extra_content {
    width: 60%;
    -webkit-transition: var(--wn_pb_04s_ease);
    transition: var(--wn_pb_04s_ease);
  }
}

@media (max-width: 850px) {
  .wn_pb_wrapper .wn_pb_section_index {
    top: 50% !important;
    left: 15px;
    width: auto;
    -webkit-transform: translateY(-50%) translatey(-30px);
    transform: translateY(-50%) translatey(-30px);
    -webkit-transition: var(--wn_pb_04s_ease);
    transition: var(--wn_pb_04s_ease);
  }
  .wn_pb_wrapper .wn_pb_section_index > ul li a span {
    display: none;
  }
  .wn_pb_wrapper .wn_pb_section_index > ul li {
    margin: 25px 0px !important;
  }
  .wn_pb_wrapper .wn_pb_section_index > ul li::before {
    margin: 20px 0px !important;
  }
  .wn_pb_wrapper .wn_pb_section_index .wn_pb_index__active::before {
    background-image: none;
    width: 20px;
    height: 20px;
    border: 1px solid var(--wn_pb_bold_t_color);
    border-radius: 20px;
    top: 50%;
    left: 50%;
    margin: 0px !important;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -webkit-transition: var(--wn_pb_04s_ease);
    transition: var(--wn_pb_04s_ease);
  }
  .wn_pb_wrapper .wn_pb_section_index > ul li a i {
    display: block;
    -webkit-transition: var(--wn_pb_04s_ease);
    transition: var(--wn_pb_04s_ease);
  }
  .wn_pb_wrapper .wn_pb_section {
    padding-left: 40px !important;
    padding-right: 40px !important;
  }
  .wn_pb_wrapper .wn_pb_index_column {
    width: 0% !important;
  }
  .wn_pb_wrapper .wn_pb_options {
    width: 50% !important;
  }
  .wn_pb_wrapper .wn_pb_media_wrapper {
    padding-left: 0px !important;
  }
  .wn_pb_wrapper .wn_pb_extra_info_card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .wn_pb_wrapper .wn_pb_extra_info_bck_img {
    height: 200px;
    width: 100%;
  }
  .wn_pb_wrapper .wn_pb_extra_content {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .wn_pb_wrapper .wn_pb_logo img {
    height: 40px;
    padding: 5px;
  }
  .wn_pb_wrapper .wn_pb_header_content {
    height: 40px;
    padding: 0px 40px;
  }
  .wn_pb_wrapper .wn_pb_footer_content {
    padding: 0px 40px;
    height: 40px;
  }
  .wn_pb_wrapper .wn_pb_help_button {
    font-size: 12px;
    padding: 5px 20px;
  }
  .wn_pb_wrapper .wn_pb_container > section.wn_pb_section {
    padding-bottom: 60px;
  }
  .wn_pb_wrapper .wn_pb_section_content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    height: 100%;
    -webkit-transition: var(--wn_pb_04s_ease);
    transition: var(--wn_pb_04s_ease);
  }
  .wn_pb_wrapper .wn_pb_index_column {
    display: none;
  }
  .wn_pb_wrapper .wn_pb_media_wrapper {
    padding: 0 !important;
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    position: relative;
  }
  .wn_pb_wrapper .wn_pb_options {
    padding: 0px !important;
    width: 100% !important;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    -webkit-transition: var(--wn_pb_04s_ease);
    transition: var(--wn_pb_04s_ease);
  }
  .wn_pb_wrapper .wn_pb_section:not(:nth-last-child(2)) > .wn_pb_section_content > .wn_pb_media_wrapper {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
  .wn_pb_wrapper .wn_pb_section:not(:nth-last-child(2)) > .wn_pb_section_content > .wn_pb_options {
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0;
  }
  .wn_pb_wrapper .wn_pb_media_wrapper .wn_pb_video_content {
    -o-object-fit: cover;
    object-fit: cover;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-transition: var(--wn_pb_04s_ease);
    transition: var(--wn_pb_04s_ease);
  }
  .wn_pb_wrapper .wn_pb_media_wrapper img {
    height: 100%;
    width: 100%;
    -webkit-transition: var(--wn_pb_04s_ease);
    transition: var(--wn_pb_04s_ease);
    -o-object-fit: cover;
    object-fit: cover;
  }
  /* .wn_pb_wrapper .wn_pb_video_content {
      position: static;
      transform: none;
      width: 100%;
      height: unset;
      margin-left: auto;
      margin-right: auto;
      -webkit-transition: var(--wn_pb_04s_ease);
      transition: var(--wn_pb_04s_ease);
    } */
  .wn_pb_wrapper .wn_pb_options h2 {
    line-height: 1em;
    margin-bottom: 20px;
    -webkit-transition: var(--wn_pb_04s_ease);
    transition: var(--wn_pb_04s_ease);
  }
  .wn_pb_wrapper .wn_pb_selectors_wrapper {
    margin-bottom: 20px;
    -webkit-transition: var(--wn_pb_04s_ease);
    transition: var(--wn_pb_04s_ease);
  }
  .wn_pb_wrapper .wn_pb_video_content {
    padding-top: 20px;
    -webkit-transition: var(--wn_pb_04s_ease);
    transition: var(--wn_pb_04s_ease);
  }
  .wn_pb_wrapper .wm_pb_options_description {
    margin-bottom: 20px;
    -webkit-transition: var(--wn_pb_04s_ease);
    transition: var(--wn_pb_04s_ease);
  }
  .wn_pb_wrapper .wn_pb_index_icon {
    width: 7px;
    height: 7px;
    -webkit-transition: var(--wn_pb_04s_ease);
    transition: var(--wn_pb_04s_ease);
  }
  .wn_pb_wrapper .wn_pb_section_index .wn_pb_index__active::before {
    width: 15px;
    height: 15px;
    top: 50%;
    left: 50%;
    -webkit-transition: var(--wn_pb_04s_ease);
    transition: var(--wn_pb_04s_ease);
  }
  .wn_pb_wrapper .wn_pb_resume_wrapper {
    padding: 10px 20px 0px 20px;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .wn_pb_wrapper .wn_pb_resume_wrapper > .wn_selected_option {
    margin-bottom: 15px;
  }
  .wn_pb_wrapper .wn_pb_resume_wrapper .wn_selected_option::before {
    content: "";
    position: absolute;
    height: 1px;
    border-bottom: 1px solid #EEEEEE;
    width: 100% !important;
    bottom: 0px;
  }
  .wn_pb_wrapper .wn_pb_section:last-child > .wn_pb_section_content > .wn_pb_options {
    padding-top: 30px !important;
  }
  .wn_pb_wrapper .wn_pb_extra_content {
    padding: 40px 20px;
  }
  .wn_pb_wrapper .wn_pb_section {
    padding-left: 45px !important;
    padding-right: 45px !important;
  }
  .wn_pb_wrapper .wn_pb_section_index {
    left: 19px;
  }
  .wn_pb_wrapper .wn_pb_resume_section .wn_pb_options {
    text-align: center;
    margin-top: 20px;
  }
  .wn_pb_wrapper .wn_pb_resume_section .wn_pb_options h2 {
    margin-bottom: 5px;
    line-height: 1em;
  }
}

.wn_pb_play_video_icon {
  width: 20px;
  height: 20px;
  display: block;
  background-image: url('data:image/svg+xml;utf8,<svg fill="rgb(233, 149, 74)" xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 24 24"><path d="M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-3 17v-10l9 5.146-9 4.854z"/></svg>');
  background-repeat: no-repeat;
  background-size: contain;
}

.wn_pb_play_tag_icon {
  width: 20px;
  height: 20px;
  display: block;
  background-image: url('data:image/svg+xml;utf8,<svg fill="rgb(233, 149, 74)" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm1 18h-2v-8h2v8zm-1-12.25c.69 0 1.25.56 1.25 1.25s-.56 1.25-1.25 1.25-1.25-.56-1.25-1.25.56-1.25 1.25-1.25z"/></svg>');
  background-repeat: no-repeat;
  background-size: contain;
}
/*# sourceMappingURL=wn-pb-fe.css.map */