:root {
  --wn_pb_e_primary:      #56B6EE;
  --wn_pb_e_secondary:    #1D1F2B;
  --wn_pb_e_text:         #F0F0F1;
  --wn_pb_e_sec_lighter:  #2B2E40;
  --wn_pb_e_sec_darker:   #1A1C26;
  --wn_pb_e_assent:       #82C75E;
  --wn_pb_e_delete:       #C6443F;
  --wn_pb_e_delete__hover:#bb3b36;
  --wn_pb_e_wp_sec:       #1E2327;
}

.wn_pb *,
.wn_pb *::before,
.wn_pb *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  color: var(--wn_pb_e_text);
}

.wn_pb {
  position: relative;
  margin-top: 40px;
  margin-right: 20px;
  padding: 30px;
  overflow: hidden;
  background-color: var(--wn_pb_e_wp_sec);
  border-radius: 15px;
  box-shadow: 3px 8px 27px rgba(12, 29, 44, 0.2);
}

.wn_pb > h1 {
  
}

.wn_pb_btn_sav_chg {
  margin-top: 30px;
  background-color: var(--wn_pb_e_primary);
  color: #fff;
  padding: 7px 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.wn_pb_btn_sav_chg:hover {
  background-color: #1c5d92;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.wn_pb_table tr:hover {
  background-color: #272E34;
}

table button {
  cursor: pointer;
}

table tr {
  height: 40px;
}
  
td, th {
  /* border: 1px solid #dddddd; */
  text-align: center;
  padding: 10px;
}
  


.wn_pb_admin_tabs {
  margin-top: 20px;
  list-style-type: none;
  padding-bottom: 3px;
  border-bottom: 2px solid var(--wn_pb_e_sec_lighter);
}



.wn_pb_admin_tabs > li {
  display: inline;
  margin-right: 10px;
  margin-bottom: 0px;
  cursor: pointer;
}

.wn_pb--active_index {
  position: relative;
  color: var(--wn_pb_e_primary);
  font-weight: 700;
}

.wn_pb--active_index::before {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -6px;
  border-bottom: 2px solid var(--wn_pb_e_primary);
}

.wn_pb_tabs_content {
  margin-top: 25px;
  display: none;
}

.wn_pb--active_content {
  display: block;
}


.wn_pb_not {
  position: absolute;
  display: flex;
  align-items: center;
  padding-right: 15px;
  left: calc(100%);
  top: 10px;
  z-index: 5;
  background-color: #fff;
  height: 67px;
  border-radius: 3px;
  box-shadow: 2px 2px 10px #1d232762;
  transition: .4s ease;
}

.wn_pb_not h4 {
  font-size: 18px;
  font-weight: 700;
  color: #3A434A;
}
.wn_pb_not p {
  margin-top: 3px;
  font-size: 14px;
  font-weight: 500;
  color: #637787;
}

.wn_pb_not_left {
  position: relative;
  background-color: #82C75E;
  width: 50px;
  height: 100%;
  border-radius: 3px 0px 0px 3px;
}

.wn_pb_not_left i {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate( -50%, -50% );
  width: 25px;
  height: 25px;
  background-image: url('data:image/svg+xml;utf8,<svg fill="rgb(255, 255, 255)" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-1.25 17.292l-4.5-4.364 1.857-1.858 2.643 2.506 5.643-5.784 1.857 1.857-7.5 7.643z"/></svg>');
  background-size: cover;
  background-repeat: no-repeat;
}

.wn_pb_not_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px 15px;
  min-width: 230px;
}

.wn_pb_close_icon {
  width: 14px;
  height: 14px;
  background-image: url('data:image/svg+xml;utf8,<svg fill="rgba(99, 119, 135, 1)" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M24 20.188l-8.315-8.209 8.2-8.282-3.697-3.697-8.212 8.318-8.31-8.203-3.666 3.666 8.321 8.24-8.206 8.313 3.666 3.666 8.237-8.318 8.285 8.203z"/></svg>');
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
}

.wn_pb_not--active {
  transform: translateX(calc( -100% - 30px ));
  transition: .4s ease;
}


.wn_pb_e_si_wrapper {
  max-width: 360px;
}

.wn_pb_e_si_preview {
  position: relative;
  overflow: hidden;
}

.wn_pb_e_si_preview:hover > span {
  transform: translateY(-100%);
  transition: 0.3s ease;
}

.wn_pb_e_si_preview > img {
  width: 100%;
  display: block;
}

.wn_pb_e_si_preview > span {
  position: absolute;
  top: 100%;
  left: 0px;
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--wn_pb_e_primary);
  color: var(--wn_pb_e_text);
  transition: 0.3s ease;
  cursor: pointer;
}

.wn_pb_e_trash__icon {
  position: absolute;
  top: 20px;
  right: 20px;
  display: block;
  width: 50px;
  height: 30px;
  background-color: var(--wn_pb_e_sec_darker);
  border-radius: 5px;
  cursor: pointer;
}

.wn_pb_e_trash__icon::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  left: 50%;
  top: 50%;
  transform: translate( -50%, -50% );
  background-image: url('data:image/svg+xml;utf8,<svg fill="rgb(198, 68, 63)" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M20 4h-20v-2h5.711c.9 0 1.631-1.099 1.631-2h5.316c0 .901.73 2 1.631 2h5.711v2zm-7 15.5c0-1.267.37-2.447 1-3.448v-6.052c0-.552.447-1 1-1s1 .448 1 1v4.032c.879-.565 1.901-.922 3-1.006v-7.026h-18v18h13.82c-1.124-1.169-1.82-2.753-1.82-4.5zm-7 .5c0 .552-.447 1-1 1s-1-.448-1-1v-10c0-.552.447-1 1-1s1 .448 1 1v10zm5 0c0 .552-.447 1-1 1s-1-.448-1-1v-10c0-.552.447-1 1-1s1 .448 1 1v10zm13-.5c0 2.485-2.017 4.5-4.5 4.5s-4.5-2.015-4.5-4.5 2.017-4.5 4.5-4.5 4.5 2.015 4.5 4.5zm-3.086-2.122l-1.414 1.414-1.414-1.414-.707.708 1.414 1.414-1.414 1.414.707.708 1.414-1.414 1.414 1.414.708-.708-1.414-1.414 1.414-1.414-.708-.708z"/></svg>');
  background-repeat: no-repeat;
  background-size: contain;
}

.wn_pb_table_btn_edit {
  margin: 10px;
  width: 17px;
  height: 17px;
  background-color: transparent;
  background-image: url('data:image/svg+xml;utf8, <svg fill="rgba(86, 182, 238, 1)" xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 24 24"><path d="M24 13.616v-3.232c-1.651-.587-2.694-.752-3.219-2.019v-.001c-.527-1.271.1-2.134.847-3.707l-2.285-2.285c-1.561.742-2.433 1.375-3.707.847h-.001c-1.269-.526-1.435-1.576-2.019-3.219h-3.232c-.582 1.635-.749 2.692-2.019 3.219h-.001c-1.271.528-2.132-.098-3.707-.847l-2.285 2.285c.745 1.568 1.375 2.434.847 3.707-.527 1.271-1.584 1.438-3.219 2.02v3.232c1.632.58 2.692.749 3.219 2.019.53 1.282-.114 2.166-.847 3.707l2.285 2.286c1.562-.743 2.434-1.375 3.707-.847h.001c1.27.526 1.436 1.579 2.019 3.219h3.232c.582-1.636.75-2.69 2.027-3.222h.001c1.262-.524 2.12.101 3.698.851l2.285-2.286c-.744-1.563-1.375-2.433-.848-3.706.527-1.271 1.588-1.44 3.221-2.021zm-12 2.384c-2.209 0-4-1.791-4-4s1.791-4 4-4 4 1.791 4 4-1.791 4-4 4z"/></svg>');
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
}

.wn_pb_table_btn_remove{
  margin: 10px;
  width: 17px;
  height: 17px;
  background-color: transparent;
  background-image: url('data:image/svg+xml;utf8, <svg fill="rgba(198, 68, 63, 1)" xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 24 24"><path d="M20 4h-20v-2h5.711c.9 0 1.631-1.099 1.631-2h5.316c0 .901.73 2 1.631 2h5.711v2zm-7 15.5c0-1.267.37-2.447 1-3.448v-6.052c0-.552.447-1 1-1s1 .448 1 1v4.032c.879-.565 1.901-.922 3-1.006v-7.026h-18v18h13.82c-1.124-1.169-1.82-2.753-1.82-4.5zm-7 .5c0 .552-.447 1-1 1s-1-.448-1-1v-10c0-.552.447-1 1-1s1 .448 1 1v10zm5 0c0 .552-.447 1-1 1s-1-.448-1-1v-10c0-.552.447-1 1-1s1 .448 1 1v10zm13-.5c0 2.485-2.017 4.5-4.5 4.5s-4.5-2.015-4.5-4.5 2.017-4.5 4.5-4.5 4.5 2.015 4.5 4.5zm-3.086-2.122l-1.414 1.414-1.414-1.414-.707.708 1.414 1.414-1.414 1.414.707.708 1.414-1.414 1.414 1.414.708-.708-1.414-1.414 1.414-1.414-.708-.708z"/></svg>');
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
}